* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.gjs-grid-column {
	flex: 1 1 0%;
	padding: 5px 0;
}

.gjs-grid-row {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: row;
	min-height: auto;
	padding: 10px 0;
}

.gjs-heading {
	margin: 0;
}

.gjs-heading {
	margin: 0;
	color: rgba(29, 40, 55, 1);
}

.gjs-grid-column {
	flex: 1 1 0%;
	padding: 5px 0;
}

.gjs-grid-row {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: row;
	min-height: auto;
	padding: 10px 0;
}

.text-main-content {
	line-height: 30px;
	font-size: 1.2rem;
}

.gjs-grid-column.feature-item {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-width: 30%;
}

.gjs-grid-column.testimonial-item {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-width: 45%;
	background-color: rgba(247, 247, 247, 0.23);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	align-items: flex-start;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgba(0, 0, 0, 0.06);
	border-right-color: rgba(0, 0, 0, 0.06);
	border-bottom-color: rgba(0, 0, 0, 0.06);
	border-left-color: rgba(0, 0, 0, 0.06);
}

.gjs-button {
	vertical-align: top;
	max-width: 100%;
	display: inline-block;
	text-decoration: none;
	color: white;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	background-color: rgb(36, 99, 235);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-top: 10px;
	font-size: 1.1rem;
	text-align: center;
}

#isq60w {
	font-family: Arial, Helvetica, sans-serif;
	background-image: unset;
	background-position: unset;
	background-size: unset;
	background-repeat: unset;
	background-attachment: unset;
	background-origin: unset;
	color: #475569;
}

#iawajf {
	max-width: 1200px;
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-image: linear-gradient(#03AD6E 1%, #03AD6E 100%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: round;
	background-attachment: scroll;
	background-origin: padding-box;
	justify-content: flex-start;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

#i0a14h {
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 180px;
	padding-left: 20px;
	padding-right: 20px;
}

#i12m0a {
	width: 1169px;
	padding-top: 0px;
	padding-bottom: 10px;
}

#iy0tlu {
	font-size: 2.5rem;
	text-align: left;
	margin-left: 20px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
}

#irkfhs {
	background-color: #f4f6f6;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 15px;
}

#i7qikl {
	background-color: #f4f6f6;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	padding-left: 0px;
	margin-right: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#il7jvh {
	background-color: #f4f6f6;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 5px;
}

#ipy5y9 {
	justify-content: space-between;
	align-items: center;
	width: 200px;
	flex-wrap: nowrap;
	align-content: center;
	flex-direction: column;
	display: inline-block;
	position: sticky;
	top: 1000px;
	margin-bottom: 20px;
	margin-top: 20px;
}

#in0nyh {
	font-size: 2.5rem;
	text-align: left;
	margin-left: 20px;
	width: 100%;
}

#id9pyk {
	padding: 10px;
	max-width: 750px;
	margin-bottom: 0px;
	text-align: left;
	width: 100%;
}

#i7ul0l {
	font-size: 2.5rem;
	text-align: left;
	width: 100%;
	margin-left: 20px;
}

#ip82cb {
	font-size: 4rem;
	color: black;
	width: 100%;
	font-weight: 600;
	padding-left: 20px;
}

#ij3edk {
	font-size: 19.2px;
}

#iunmmi {
	justify-content: space-between;
	align-items: center;
	width: 200px;
	flex-wrap: nowrap;
	align-content: center;
	flex-direction: column;
	display: inline-block;
	position: sticky;
	top: 1000px;
	margin-bottom: 20px;
	margin-top: 20px;
}

#i718eo {
	justify-content: space-between;
	align-items: center;
	width: 200px;
	flex-wrap: nowrap;
	align-content: center;
	flex-direction: column;
	display: inline-block;
	position: sticky;
	top: 1000px;
	margin-bottom: 20px;
	margin-top: 20px;
}

#ixmuqu {
	font-size: 19.2px;
}

#i59y14 {
	padding: 10px;
	max-width: 750px;
	margin-bottom: 0px;
	text-align: left;
	width: 100%;
}

#i88did {
	font-size: 19.2px;
}

#idpnfm {
	padding: 10px;
	max-width: 750px;
	margin-bottom: 0px;
	text-align: left;
	width: 100%;
}

#i2kvzf {
	font-size: 19.2px;
}

#i5y464 {
	padding: 10px;
	max-width: 750px;
	margin-bottom: 0px;
	text-align: right;
	width: 100%;
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-end;
	flex: 1 1 0%;
}

#i93sad {
	font-size: 19.2px;
}

#i68fio {
	padding: 10px;
	max-width: 750px;
	margin-bottom: 0px;
	text-align: right;
	width: 100%;
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-end;
	flex: 1 1 0%;
}

#i2oxka {
	font-size: 19.2px;
}

#iglytc {
	padding: 10px;
	max-width: 750px;
	margin-bottom: 0px;
	text-align: right;
	width: 100%;
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-end;
	flex: 1 1 0%;
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media (max-width:992px) {
	.gjs-grid-row {
		flex-direction: column;
	}

	.gjs-grid-row {
		flex-direction: column;
	}

	#irkfhs {
		justify-content: flex-start;
		flex: 1 1 0%;
		align-self: auto;
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 15px;
	}

	#i12m0a {
		flex: 1 1 0%;
		width: auto;
	}

	#iawajf {
		flex-direction: column;
	}

	#il7jvh {
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 15px;
	}

	#id9pyk {
		text-align: left;
		width: 100%;
		max-width: auto;
	}

	#i59y14 {
		text-align: left;
		width: 100%;
		max-width: auto;
	}

	#idpnfm {
		text-align: left;
		width: 100%;
		max-width: auto;
	}

	#i5y464 {
		text-align: left;
		width: 100%;
		max-width: auto;
	}

	#i68fio {
		text-align: left;
		width: 100%;
		max-width: auto;
	}

	#iglytc {
		text-align: left;
		width: 100%;
		max-width: auto;
	}
}

@media (max-width:768px) {
	#irkfhs {
		align-self: center;
		flex: 1 1 0%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 0px;
		padding-bottom: 0px;
		margin-bottom: 15px;
		margin-right: 0px;
		margin-left: 0px;
	}

	#i12m0a {
		padding-bottom: 7px;
		width: 95%;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 7px;
		padding-right: 0px;
		padding-left: 0px;
	}

	#i7qikl {
		align-self: center;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-bottom: 15px;
		margin-right: 0px;
		margin-left: 0px;
	}

	#il7jvh {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		align-self: center;
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}

	#i0a14h {
		padding-bottom: 40px;
		padding-top: 40px;
	}

	#ipy5y9 {
		padding-bottom: 10px;
		margin-bottom: 5px;
	}

	#iy0tlu {
		margin-left: 15px;
		padding-left: 0px;
	}

	#iunmmi {
		padding-bottom: 10px;
		margin-bottom: 5px;
	}

	#i718eo {
		padding-bottom: 10px;
		margin-bottom: 5px;
	}
}