* {
	box-sizing:border-box;
}
body {
	margin:0;
}
:root {
	--gjs-t-color-primary:#cf549e;
	--gjs-t-color-secondary:#b9227d;
}
.gjs-t-body {
	background-color:inherit;
	color:inherit;
	font-size:1rem;
	line-height:1.75rem;
}
.gjs-grid-column {
	flex:1 1 0%;
	padding:5px 0;
}
.gjs-grid-row {
	display:flex;
	justify-content:flex-start;
	align-items:stretch;
	flex-direction:row;
	min-height:auto;
	padding:10px 0;
}
.gjs-t-h1 {
	color:var(--gjs-t-color-secondary);
	font-size:1.5rem;
	line-height:2.5rem;
}
.gjs-t-h2 {
	color:#601843;
	font-size:1.2rem;
	line-height:1.75rem;
}
.gjs-grid-column {
	flex:1 1 0%;
	padding:5px 0;
}
.gjs-grid-row {
	display:flex;
	justify-content:flex-start;
	align-items:stretch;
	flex-direction:row;
	min-height:auto;
	padding:10px 0;
}
.gjs-t-button {
	background-color:var(--gjs-t-color-primary);
	color:white;
	border-radius:0.3rem;
}
.gjs-t-link {
	color:var(--gjs-t-color-primary);
	text-decoration:underline;
}
.text-main-content {
	line-height:30px;
	font-size:1.2rem;
}
.gjs-grid-column.feature-item {
	padding-top:15px;
	padding-right:15px;
	padding-bottom:15px;
	padding-left:15px;
	display:flex;
	flex-direction:column;
	gap:15px;
	min-width:30%;
}
.gjs-grid-column.testimonial-item {
	padding-top:15px;
	padding-right:15px;
	padding-bottom:15px;
	padding-left:15px;
	display:flex;
	flex-direction:column;
	gap:15px;
	min-width:45%;
	background-color:rgba(247,247,247,0.23);
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	align-items:flex-start;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-top-color:rgba(0,0,0,0.06);
	border-right-color:rgba(0,0,0,0.06);
	border-bottom-color:rgba(0,0,0,0.06);
	border-left-color:rgba(0,0,0,0.06);
}
#ikridk-2 {
	text-align:center;
	margin-left:10px;
	margin-right:10px;
	flex:0 1 auto;
	display:flex;
	justify-content:flex-start;
	padding-left:10px;
}
#i2rmok-2 {
	color:rgba(0,0,0,1);
	background-color:#ffffff;
	padding-bottom:0px;
	padding-top:0px;
	display:flex;
	flex-direction:column;
	align-items:stretch;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-bottom-left-radius:20px;
}
#ieq3s9-2 {
	padding-top:10px;
	padding-bottom:10px;
	width:100%;
	height:100%;
	padding-left:10px;
	padding-right:10px;
}
#ie4bdh-2 {
	align-items:center;
	display:flex;
	flex-direction:column;
	gap:10px;
	background-image:linear-gradient(#03346E 1%,#03346E 100%);
	background-position:0px 0px;
	background-size:100% 100%;
	background-repeat:round;
	background-attachment:scroll;
	background-origin:padding-box;
	justify-content:flex-start;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-right-radius:30px;
	border-bottom-left-radius:30px;
	max-width:800px;
	padding-bottom:0px;
	padding-top:0px;
}
#iwcht1-2 {
	justify-content:center;
	padding-top:40px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:80px;
}
#iw3mdg-2 {
	font-family:Arial,Helvetica,sans-serif;
	background-image:unset;
	background-position:unset;
	background-size:unset;
	background-repeat:unset;
	background-attachment:unset;
	background-origin:unset;
	color:#475569;
}
@keyframes fadeEffect {
	from {
	opacity:0;
}
to {
	opacity:1;
}
}@media (max-width:992px) {
	.gjs-grid-row {
	flex-direction:column;
}
.gjs-grid-row {
	flex-direction:column;
}
#i2rmok-2 {
	max-width:710px;
}
}@media (max-width:768px) {
	#i2rmok-2 {
	align-self:center;
	display:flex;
	max-width:510px;
}
#ieq3s9-2 {
	justify-content:center;
	align-items:center;
	display:flex;
	flex-wrap:nowrap;
	align-content:center;
}
}