* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.gjs-icon {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	vertical-align: middle;
	fill: currentColor;
	width: 50px;
	height: 50px;
}

.gjs-grid-column {
	flex: 1 1 0%;
	padding: 5px 0;
}

.gjs-grid-row {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: row;
	min-height: auto;
	padding: 10px 0;
}

.gjs-heading {
	margin: 0;
}

.gjs-heading {
	margin: 0;
	color: rgba(29, 40, 55, 1);
}

.gjs-grid-column {
	flex: 1 1 0%;
	padding: 5px 0;
}

.gjs-grid-row {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: row;
	min-height: auto;
	padding: 10px 0;
}

.text-main-content {
	line-height: 30px;
	font-size: 1.2rem;
}

.gjs-grid-column.feature-item {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-width: 30%;
}

.gjs-grid-column.testimonial-item {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-width: 45%;
	background-color: rgba(247, 247, 247, 0.23);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	align-items: flex-start;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgba(0, 0, 0, 0.06);
	border-right-color: rgba(0, 0, 0, 0.06);
	border-bottom-color: rgba(0, 0, 0, 0.06);
	border-left-color: rgba(0, 0, 0, 0.06);
}

.gjs-button {
	vertical-align: top;
	max-width: 100%;
	display: inline-block;
	text-decoration: none;
	color: white;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	background-color: rgb(36, 99, 235);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-top: 10px;
	font-size: 1.1rem;
	text-align: center;
}

.gjs-text-blue {
	color: rgb(36, 99, 235);
}

.gjs-icon {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	vertical-align: middle;
	fill: currentColor;
	width: 50px;
	height: 50px;
}

.gjs-icon.gjs-feature-icon {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: rgb(36, 99, 235);
	color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#iajba1 {
	font-size: 3rem;
	text-align: center;
	color: #F8FAFC;
	margin-top: 30px;
}

#iutas8 {
	padding: 10px;
	max-width: 750px;
	margin-bottom: 25px;
	text-align: center;
	color: #D9EAFD;
	font-weight: 600;
}

#ix72t5 {
	max-width: 1200px;
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-position:-80px -240px;
	background-size:auto auto;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-origin:padding-box;
	justify-content:flex-start;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-right-radius:30px;
	border-bottom-left-radius:30px;
	height:300px;
	}

#il5kzx {
	justify-content:center;
	padding-top:80px;
	padding-bottom:80px;
	padding-left:20px;
	padding-right:20px;
}

#i8fa86 {
	font-size:2.5rem;
}

#i705ny {
	padding:10px;
	max-width:750px;
	margin-bottom:25px;
	padding-left:0px;
	padding-right:0px;
}

#i6qgm9 {
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:center;
}

#i8ui45 {
	color:black;
	border-top-left-radius:35px;
	border-top-right-radius:35px;
	border-bottom-right-radius:35px;
	border-bottom-left-radius:35px;
	max-width:100%;
}

#iqul0g {
	gap:100px;
	justify-content:space-between;
}

#isl3fh {
	max-width:1200px;
	align-items:center;
	display:flex;
	flex-direction:column;
}

#i3t5x8 {
	justify-content:center;
	padding-top:80px;
	padding-bottom:80px;
	padding-left:20px;
	padding-right:20px;
}

#i2uscg {
	font-size:2.5rem;
	margin-bottom:10px;
	max-width:750px;
}

#ivb5vc {
	padding:10px;
	max-width:800px;
	margin-bottom:70px;
	padding-left:0px;
	padding-right:0px;
	padding-top:10px;
	padding-bottom:10px;
}

#i4c0lr {
	font-size:1.5rem;
}

#idgbiz {
	padding:10px;
	padding-left:0px;
	padding-right:0px;
}

#ibxb12 {
	font-size:1.5rem;
}

#i3va1f {
	padding:10px;
	padding-left:0px;
	padding-right:0px;
}

#i5xawc {
	font-size:1.5rem;
}

#iyp25t {
	padding:10px;
	padding-left:0px;
	padding-right:0px;
}

#izkja9 {
	width:100%;
	flex-wrap:wrap;
	justify-content:flex-start;
	gap:50px;
}

#iclpa5 {
	max-width:1200px;
	display:flex;
	flex-direction:column;
}

#izv5a5 {
	justify-content:center;
	padding-top:40px;
	padding-bottom:40px;
	padding-left:20px;
	padding-right:20px;
}

#igle4w {
	font-size:2.5rem;
	text-align:center;
}

#ifp9us {
	max-width:800px;
	margin-bottom:20px;
	text-align:center;
	margin-top:15px;
}

#i8992w {
	color:black;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	max-width:100%;
	width:100px;
	border-top-width:3px;
	border-right-width:3px;
	border-bottom-width:3px;
	border-left-width:3px;
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-top-color:rgb(36, 99, 235);
	border-right-color:rgb(36, 99, 235);
	border-bottom-color:rgb(36, 99, 235);
	border-left-color:rgb(36, 99, 235);
}

#i5zt2i {
	flex:0 1 auto;
	padding-top:0px;
	padding-bottom:0px;
}

#ijumed {
	font-size:1.5rem;
}

#iyje5f {
	color:rgba(0, 0, 0, 0.5);
}

#idb02z {
	width:100%;
	gap:20px;
	align-items:center;
	padding-top:0px;
	padding-bottom:0px;
}

#ikok8p {
	padding:10px;
	padding-left:0px;
	padding-right:0px;
}

#igs32q {
	justify-content:space-between;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-right-radius:30px;
	border-bottom-left-radius:30px;
}

#i69461 {
	color:black;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	max-width:100%;
	width:100px;
	border-top-width:3px;
	border-right-width:3px;
	border-bottom-width:3px;
	border-left-width:3px;
	border-top-color:rgb(36, 99, 235);
	border-right-color:rgb(36, 99, 235);
	border-bottom-color:rgb(36, 99, 235);
	border-left-color:rgb(36, 99, 235);
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
}

#ii8fi9 {
	flex:0 1 auto;
}

#i8k61g {
	font-size:1.5rem;
}

#ipl47w {
	font-size:19.2px;
}

#ivbm3z {
	color:rgba(0, 0, 0, 0.5);
}

#imaq4g {
	width:100%;
	gap:20px;
	align-items:center;
	padding-top:0px;
}

#iuenda {
	padding:10px;
	padding-left:0px;
	padding-right:0px;
}

#idj5sr {
	justify-content:space-between;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-right-radius:30px;
	border-bottom-left-radius:30px;
}

#i85r9y {
	width:100%;
	flex-wrap:wrap;
	justify-content:flex-start;
	gap:50px;
}

#i56pdw {
	max-width:1200px;
	align-items:center;
	display:flex;
	flex-direction:column;
}

#ijbvn4 {
	justify-content:center;
	padding-top:40px;
	padding-bottom:40px;
	padding-left:20px;
	padding-right:20px;
}

#ijwvmh {
	font-size:2.5rem;
	text-align:center;
	max-width:800px;
}

#ioae3q {
	padding:10px;
	max-width:750px;
	margin-bottom:35px;
	padding-left:0px;
	padding-right:0px;
	text-align:center;
	margin-top:35px;
}

#im8p7h {
	max-width:1200px;
	align-items:center;
	display:flex;
	flex-direction:column;
	padding-top:50px;
	padding-right:50px;
	padding-bottom:50px;
	padding-left:50px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-right-radius:50px;
	border-bottom-left-radius:50px;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-top-color:rgba(0, 0, 0, 0.06);
	border-right-color:rgba(0, 0, 0, 0.06);
	border-bottom-color:rgba(0, 0, 0, 0.06);
	border-left-color:rgba(0, 0, 0, 0.06);
	background-image:radial-gradient(400px at 50% 90%, rgba(66, 151, 255, 1) 10%, white 90%);
	background-position:0px 0px;
	background-size:100% 100%;
	background-repeat:repeat;
	background-attachment:scroll;
	background-origin:padding-box;
	box-shadow:0px 10px 15px 0 rgba(0, 0, 0, 0.07);
}

#ijt9el {
	justify-content:center;
	padding-top:40px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:80px;
}

#iufjvl {
	font-family:Arial, Helvetica, sans-serif;
	background-image:unset;
	background-position:unset;
	background-size:unset;
	background-repeat:unset;
	background-attachment:unset;
	background-origin:unset;
	color:#475569;
}

@keyframes fadeEffect {
	from {
		opacity:0;
	}

	to {
		opacity:1;
	}
}

@media (max-width:992px) {
	.gjs-grid-row {
		flex-direction:column;
	}

	.gjs-grid-row {
		flex-direction:column;
	}

	#idb02z {
		flex-direction:row;
	}

	#imaq4g {
		flex-direction:row;
	}
}
