@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
      pre.dark code.hljs {
        display: block;
        overflow-x: auto;
        padding: 1em;
      }
      .dark code.hljs {
        padding: 3px 5px;
      }
      /*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
      .dark .hljs {
        background: #0d1117;
        color: #c9d1d9;
      }
      .dark .hljs-doctag,
      .dark .hljs-keyword,
      .dark .hljs-meta .hljs-keyword,
      .dark .hljs-template-tag,
      .dark .hljs-template-variable,
      .dark .hljs-type,
      .dark .hljs-variable.language_ {
        color: #ff7b72;
      }
      .dark .hljs-title,
      .dark .hljs-title.class_,
      .dark .hljs-title.class_.inherited__,
      .dark .hljs-title.function_ {
        color: #d9aaff;
      }
      .dark .hljs-attr,
      .dark .hljs-attribute,
      .dark .hljs-literal,
      .dark .hljs-meta,
      .dark .hljs-number,
      .dark .hljs-operator,
      .dark .hljs-selector-attr,
      .dark .hljs-selector-class,
      .dark .hljs-selector-id,
      .dark .hljs-variable {
        color: #f0f6fc;
      }
      .dark .hljs-meta .hljs-string,
      .dark .hljs-regexp,
      .dark .hljs-string {
        color: #8ddb8c;
      }
      .dark .hljs-built_in,
      .dark .hljs-symbol {
        color: #ff9e64;
      }
      .dark .hljs-code,
      .dark .hljs-comment,
      .dark .hljs-formula {
        color: #6a737d;
      }
      .dark .hljs-name,
      .dark .hljs-quote,
      .dark .hljs-selector-pseudo,
      .dark .hljs-selector-tag {
        color: #69f0ae;
      }
      .dark .hljs-subst {
        color: #c9d1d9;
      }
      .dark .hljs-section {
        color: #f0f6fc;
        font-weight: 700;
      }
      .dark .hljs-bullet {
        color: #f0f6fc;
      }
      .dark .hljs-emphasis {
        color: #c9d1d9;
        font-style: italic;
      }
      .dark .hljs-strong {
        color: #c9d1d9;
        font-weight: 700;
      }
      .dark .hljs-addition {
        background-color: #003820;
        color: #79ffd6;
      }
      .dark .hljs-deletion {
        background-color: #67060c;
        color: #ffa198;
      }
      pre code.hljs {
        display: block;
        overflow-x: auto;
        padding: 1em;
      }
      code.hljs {
        padding: 3px 5px;
      }
      /*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
      .hljs {
        background: #fff;
        color: #24292e;
      }
      .hljs-doctag,
      .hljs-keyword,
      .hljs-meta .hljs-keyword,
      .hljs-template-tag,
      .hljs-template-variable,
      .hljs-type,
      .hljs-variable.language_ {
        color: #d73a49;
      }
      .hljs-title,
      .hljs-title.class_,
      .hljs-title.class_.inherited__,
      .hljs-title.function_ {
        color: #6f42c1;
      }
      .hljs-attr,
      .hljs-attribute,
      .hljs-literal,
      .hljs-meta,
      .hljs-number,
      .hljs-operator,
      .hljs-selector-attr,
      .hljs-selector-class,
      .hljs-selector-id,
      .hljs-variable {
        color: #005cc5;
      }
      .hljs-meta .hljs-string,
      .hljs-regexp,
      .hljs-string {
        color: #032f62;
      }
      .hljs-built_in,
      .hljs-symbol {
        color: #e36209;
      }
      .hljs-code,
      .hljs-comment,
      .hljs-formula {
        color: #6a737d;
      }
      .hljs-name,
      .hljs-quote,
      .hljs-selector-pseudo,
      .hljs-selector-tag {
        color: #22863a;
      }
      .hljs-subst {
        color: #24292e;
      }
      .hljs-section {
        color: #005cc5;
        font-weight: 700;
      }
      .hljs-bullet {
        color: #735c0f;
      }
      .hljs-emphasis {
        color: #24292e;
        font-style: italic;
      }
      .hljs-strong {
        color: #24292e;
        font-weight: 700;
      }
      .hljs-addition {
        background-color: #f0fff4;
        color: #22863a;
      }
      .hljs-deletion {
        background-color: #ffeef0;
        color: #b31d28;
      }
      body {
        background: #fff !important;
        background: rgb(var(--surface-0)) !important;
        --button-dark-2: #049666;
      }
      @font-face {
        font-display: swap;
        font-family: Drukwide;
        src: url(/_nuxt/DrukWideCyrMedium.XrJOALjr.otf);
      }
      @font-face {
        font-display: swap;
        font-family: Raleway;
        src: url(/_nuxt/Raleway.avTyM9Qo.ttf);
      }
      .dark body {
        background: #0f172a !important;
        background: rgb(var(--surface-800)) !important;
        color: hsla(0, 0%, 100%, 0.87);
        --button-dark-2: #17c48b;
      }
      code {
        background: #f5f5f5 !important;
        border-radius: 4px !important;
        color: #000 !important;
      }
      .quill-styles code {
        padding: 2px 4px;
      }
      .dark code {
        background: #3b4252 !important;
        border-radius: 4px !important;
        color: #d8dee9 !important;
        padding: 2px 4px !important;
      }
      .hljs {
        background: #f5f5f5 !important;
      }
      .dark .hljs {
        background: #2e3440 !important;
        padding: 14px !important;
      }
      @font-face {
        font-family: Gilroy;
        src: url(/_nuxt/Gilroy.Cu1_Dviq.woff2) format("woff2");
      }
      :root {
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        --primary-50: 236 253 245;
        --primary-100: 209 250 229;
        --primary-200: 167 243 208;
        --primary-300: 110 231 183;
        --primary-400: 52 211 153;
        --primary-500: 16 185 129;
        --primary-600: 5 150 105;
        --primary-700: 4 120 87;
        --primary-800: 6 95 70;
        --primary-900: 4 78 56;
        --primary-950: 2 44 34;
        --surface-0: 255, 255, 255;
        --surface-50: 241, 245, 249;
        --surface-100: 226, 232, 240;
        --surface-200: 203, 213, 225;
        --surface-300: 148, 163, 184;
        --surface-400: 100, 116, 139;
        --surface-500: 71, 85, 105;
        --surface-600: 51, 65, 85;
        --surface-700: 30, 41, 59;
        --surface-800: 15, 23, 42;
        --surface-900: 2, 4, 32;
        --surface-950: 0, 0, 0;
        --like: #049484;
        --dislike: hsla(0, 91%, 91%, 0.6);
        --badge-text-trainee: #ff8a00;
        --badge-bg-trainee: rgba(255, 138, 0, 0.2);
        --badge-text-junior: #00b0bb;
        --badge-bg-junior: rgba(0, 176, 187, 0.2);
        --badge-text-middle: #0085ff;
        --badge-bg-middle: rgba(0, 133, 255, 0.2);
        --badge-text-senior: #b352ff;
        --badge-bg-senior: rgba(143, 0, 255, 0.2);
        --badge-bg-trainee-active: #ff8a00;
        --badge-bg-junior-active: #00b0bb;
        --badge-bg-middle-active: #0085ff;
        --badge-bg-senior-active: #b352ff;
        --brand-seafoam: #16f591;
        --brand-seafoam-dark: #269a73;
        --text-primary: #1d1d1d;
        --text-secondary: #87898f;
        --button-dark: #03346E;
        --button-secondary: #b6f8e2;
        --footer-bg-dark: #05855b;
        --button-secondary-text: #2ca87e;
        --green-dark: #043c1a;
        --roadmap-h1-bg: #bae8cb;
        --roadmap-h1-border: #a0bfac;
        --roadmap-h2-bg: #d0efdb;
        --roadmap-h2-border: #bcd5c4;
        --roadmap-h3-bg: #e9f6ee;
        --roadmap-h3-border: #d7dcd8;
        --green-0: #e0fced;
        --green-1: #bcf5d9;
        --green-2: #adedcb;
        --yellow-1: #fcf2e1;
        --yellow-2: #f3efb2;
        --red-1: #fad7d7;
        --red-2: #edadad;
        --color-grays-25: #c6cccb;
        --yellow-text: #cc9e21;
        --easy-status-bg: #eefff2;
        --avrg-status-bg: #fffdd0;
        --hard-status-bg: #ffd5d5;
        --easy-status-bg-dark: rgba(26, 227, 35, 0.3);
        --avrg-status-bg-dark: rgba(255, 186, 43, 0.435);
        --hard-status-bg-dark: rgba(243, 73, 73, 0.4);
        --blue-0: #6EACDA;
      }
      .shepherd-button {
        border: 0;
        border-radius: 3px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        margin-right: 0.5rem;
        padding: 0.5rem 1.5rem;
      }
      .shepherd-button,
      .shepherd-button:not(:disabled):hover {
        background: #09b87e;
        background: var(--button-dark);
        color: #fff;
      }
      .shepherd-button.shepherd-button-secondary,
      .shepherd-button.shepherd-button-secondary:not(:disabled):hover {
        background: #fff;
        color: rgba(0, 0, 0, 0.75);
      }
      .shepherd-button:disabled {
        cursor: not-allowed;
      }
      .shepherd-modal-overlay-container.shepherd-modal-is-visible {
        opacity: 0.3;
      }
      .shepherd-has-title .shepherd-content .shepherd-header {
        background: #e0fced;
        background: var(--green-0);
        padding: 10px;
      }
      .shepherd-header h3 {
        color: #09b87e;
        color: var(--button-dark);
        font-size: 18px;
        font-weight: 600;
      }
      .shepherd-text {
        font-size: 14px;
      }
      @media (prefers-color-scheme: light) {
        :root {
          background-color: #fff;
          color: #000;
        }
        a:hover {
          color: #2ca87e;
        }
      }
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type="number"] {
        -moz-appearance: textfield;
      }
      @keyframes bounce-custom {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(10px);
        }
        to {
          transform: translateY(0);
        }
      }
      @keyframes bounce-custom-reverse {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-10px);
        }
        to {
          transform: translateY(0);
        }
      }