{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Курсы</title>
  <link rel="stylesheet" href="{% static 'courses.css' %}">
</head>

<body id="isq60w">

  {% include "header.html" %}

  <div id="i0a14h" class="gjs-grid-row">
    <div id="iawajf" class="gjs-grid-column">
      <div id="ip82cb">Наши Курсы</div>
      
      {% for threes in courses_nested_list %}

      <div id="i12m0a" class="gjs-grid-row">

        {% for course in threes %}

        {% if course != None %}
        <div id="irkfhs" class="gjs-grid-column">
          <h1 id="iy0tlu" class="gjs-heading">{{ course.name }}<br/></h1>
          <div id="id9pyk" class="text-main-content">
            <span id="ij3edk">{{ course.short_desc }}<br/></span>
          </div>
          <div id="i68fio" class="text-main-content">
            <span id="i93sad">{{ course.author }}<br/></span>
          </div>
          <a id="iunmmi" class="gjs-button" href="{{ course.id }}">Перейти к Курсу!</a>
        </div>
        {% endif %}
				{% if course == None %}
        <div id="irkfhs_empty" class="gjs-grid-column"></div>
        {% endif %}

        {% endfor %}
      </div>
      {% endfor %}

    </div>
  </div>
</body>

</html>