{% load static %}

<link rel="stylesheet" href="{% static 'footer.css' %}">

<div id="isil2j" class="gjs-grid-row">
	<div id="i1gjkk" class="gjs-grid-column">
		<div id="iyfany" class="gjs-grid-row">
			<div id="i5ki9q" class="gjs-grid-column"><a href="/" id="iwhsli"
					class="gjs-link-box"><img alt="logo200.svg" src="{% static 'images/logo.svg' %}" id="i604ld"/></a></div>
			<div id="itmq4y" class="gjs-grid-column"><a href="##" id="iovf7s" class="gjs-link">Условия пользования</a><a
					href="##" id="im26hz" class="gjs-link">Политика Конфиденциальности</a><a href="##" id="iy88ul"
					class="gjs-link">О нас</a></div>
		</div>
	</div>
</div>