{% load static %}

<link rel="stylesheet" href="{% static 'header.css' %}">

<body id="iwgfzk">
	<div id="i2huhp" class="gjs-grid-row">
		<div id="i3hu0t" class="gjs-grid-column">
			<div id="iv7j47" class="gjs-grid-row">
				<div id="ifo3zh" class="gjs-grid-column"><a href="/" id="icekae"
						class="gjs-link-box"><img alt="logo200.svg" src="{% static 'images/logo.svg' %}" id="i4hd6f"/></a></div>
				<div id="inacw8" class="gjs-grid-column">
					<div id="ilkd3m" class="gjs-grid-row">
						<div id="ijx3yc" class="gjs-grid-column"><a href="/courses" id="idtqjk" class="gjs-link">Курсы</a><a
								href="/calc" id="ioswfh" class="gjs-link">Калькулятор</a></div>
						<div id="ishvkv" class="gjs-grid-column"><a href="/profile" id="iej1y5" class="gjs-link">Мой
								прогресс</a></div>
					</div>
				</div>

				{% if not user.is_authenticated %}
					<div id="ij4k7k" class="gjs-grid-column"><a href="/login" id="in6yrm" class="gjs-button">Войти</a></div>
				{% endif %}
				{% if user.is_authenticated %}
					<!-- <div class="gjs-grid-column" id="i8cose"><a href="/profile" class="gjs-link-box"
						id="idy7jj"><img id="iob235" src="{% static 'images/profile.svg' %}"/></a></div> -->
					<div id="ifo3zh" class="gjs-grid-column"><a href="/profile" id="icekae"
						class="gjs-link-box"><img alt="logo200.svg" src="{% static 'images/profile.svg' %}" id="i4hd6f"/></a></div>
				{% endif %}

			</div>
		</div>
	</div>
