{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>Quantum</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body id="iufjvl">

	{% include "header.html" %}
	
	<div class="gjs-grid-row" id="il5kzx">

		<style>
			#ix72t5 {
				background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{% static 'images/dalle.png' %}");
			}
		</style>

		<div __nc="" class="gjs-grid-column" id="ix72t5">
			<h1 class="gjs-heading" id="iajba1">Ваше окно в квантовый мир</h1>
			<div class="text-main-content" id="iutas8">Изучи законы квантовой физики, овладей принципами микромира и раскрой
				фундаментальные основы устройства Вселенной.<br/></div>
				<a class="gjs-button" href="/courses">Начать обучение</a>
		</div>
	</div>
	<div class="gjs-grid-row" id="i3t5x8">
		<div class="gjs-grid-column" id="isl3fh">
			<div class="gjs-grid-row" id="iqul0g">
				<div class="gjs-grid-column" id="i6qgm9">
					<h2 class="gjs-heading" id="i8fa86">
						<h4 draggable="false" class="gjs-heading gjs-text-blue">Изучайте новое и закрепляйте свои знания</h4>
					</h2>
					<div class="text-main-content" id="i705ny">На нашем сайте вы можете изучать как лекционный материал по тебе,
						собранный нашими менторами, так и проходить тесты на закрепление знаний!</div>
					<a class="gjs-button" href="/courses">Начать обучение</a>
				</div>
				<div class="gjs-grid-column"><img src="{% static 'images/test_screen.png' %}" id="i8ui45"/></div>
			</div>
		</div>
	</div>
	<div class="gjs-grid-row" id="izv5a5">
		<div class="gjs-grid-column" id="iclpa5">
			<h2 class="gjs-heading" id="i2uscg">Мы котируемся!</h2>
			<div class="text-main-content" id="ivb5vc">Здесь будет список компаний, в который можно будет пройти после
				обучения (или нет)</div>
			<div class="gjs-grid-row" id="izkja9">
				<div class="gjs-grid-column feature-item">
					<div data-type-icon class="gjs-icon gjs-feature-icon"><svg viewBox="0 0 24 24">
							<path
								d="M16 9h3l-5 7m-4-7h4l-2 8M5 9h3l2 7m5-12h2l2 3h-3m-5-3h2l1 3h-4M7 4h2L8 7H5m1-5L2 8l10 14L22 8l-4-6H6z">
							</path>
						</svg></div>
					<h3 class="gjs-heading" id="i4c0lr">Feature text</h3>
					<div class="text-main-content" id="idgbiz">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
				</div>
				<div class="gjs-grid-column feature-item">
					<div data-type-icon class="gjs-icon gjs-feature-icon"><svg viewBox="0 0 24 24">
							<path
								d="M16 9h3l-5 7m-4-7h4l-2 8M5 9h3l2 7m5-12h2l2 3h-3m-5-3h2l1 3h-4M7 4h2L8 7H5m1-5L2 8l10 14L22 8l-4-6H6z">
							</path>
						</svg></div>
					<h3 class="gjs-heading" id="ibxb12">Feature text</h3>
					<div class="text-main-content" id="i3va1f">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
				</div>
				<div class="gjs-grid-column feature-item">
					<div data-type-icon class="gjs-icon gjs-feature-icon"><svg viewBox="0 0 24 24">
							<path
								d="M16 9h3l-5 7m-4-7h4l-2 8M5 9h3l2 7m5-12h2l2 3h-3m-5-3h2l1 3h-4M7 4h2L8 7H5m1-5L2 8l10 14L22 8l-4-6H6z">
							</path>
						</svg></div>
					<h3 class="gjs-heading" id="i5xawc">Feature text</h3>
					<div class="text-main-content" id="iyp25t">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="gjs-grid-row" id="ijbvn4">
		<div class="gjs-grid-column" id="i56pdw">
			<h2 class="gjs-heading" id="igle4w">Разработчики и менторы</h2>
			<div class="text-main-content" id="ifp9us">Мы в Quantum делаем обучение удобным и эффективным: интуитивный
				интерфейс, доступ к материалам 24/7, поддержка экспертов и адаптивный формат курсов.</div>
			<div class="gjs-grid-row" id="i85r9y">
				<div class="gjs-grid-column testimonial-item" id="igs32q">
					<div class="gjs-grid-row" id="idb02z">
						<div class="gjs-grid-column" id="i5zt2i"><img src="{% static 'images/stas.png' %}" id="i8992w"/></div>
						<div class="gjs-grid-column">
							<h4 class="gjs-heading" id="ijumed">Станислав Чикенев</h4>
							<div class="text-main-content" id="iyje5f">Разработчик / Ментор</div>
						</div>
					</div>
					<div class="text-main-content" id="ikok8p">Старший разработчик и администратор поддержки, готов ответить на
						любые ваши вопросы!</div>
				</div>
				<div class="gjs-grid-column testimonial-item" id="idj5sr">
					<div class="gjs-grid-row" id="imaq4g">
						<div class="gjs-grid-column" id="ii8fi9"><img src="{% static 'images/katya.png' %}" id="i69461"/></div>
						<div class="gjs-grid-column">
							<h4 class="gjs-heading" id="i8k61g">Екатерина Скоморохина</h4>
							<div class="text-main-content" id="ivbm3z"><span id="ipl47w">Разработчик / Ментор</span></div>
						</div>
					</div>
					<div class="text-main-content" id="iuenda">Старший преподаватель и UX/UI дизайнер, именно она отвечает за
						внешний вид сайта. </div>
				</div>
			</div>
		</div>
	</div>
	<div class="gjs-grid-row" id="ijt9el">
		<div class="gjs-grid-column" id="im8p7h">
			<h2 class="gjs-heading" id="ijwvmh">С нами ваше обучение станет захватывающим путешествием!</h2>
			<div class="text-main-content" id="ioae3q">Начните учиться сейчас!<br/></div><a class="gjs-button" href="/courses">Поехали!</a>
		</div>
	</div>

	{% include "footer.html" %}

</body>

</html>