{% load static %}

<html lang="en">
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
  </head>

  <body id="itk5xa">
		<div class="foot-form-cont" id="i4tohk">
			<div class="gjs-grid-row" id="ipig1q">
				<div class="gjs-grid-column" id="ipixn7">
					<div class="foot-form-title" id="i62sb9">Войти в Quantum</div>
						<form method="post">
							{% csrf_token %}
							<input type="text" name="username" id="username" class="sub-input">
							<input type="password" name="password" id="password" class="sub-input">
							<button type="sumbit" class="sub-btn">Submit</button>
						</form>
						{% if error %}  
							<p class="error">{{ error }}</p>  
						{% endif %}
						<p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>  
					</div>
				</div>
			</div>
	  </div>
  </body>
</html>